<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:text="#{form.user.header}"></title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" type="text/css" href="webjars/bootstrap/3.3.7/css/bootstrap.min.css" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
<div lang="pl" th:replace="navbar :: navbar"> </div>
<div class="container">
    <form action="#" th:action="@{/addUser}" th:object="${user}" method="post" enctype="multipart/form-data" class="form-create-user">
        <div lang="pl" th:replace="validation :: validation" > </div>
        <h2 class="form-signin-heading" align="center" th:text="#{form.user.header}"></h2><br/>
        <div class="row text-center" style="width: 300px; margin: 0 auto">
            <img id="output" src="/img/avatar.jpg" th:width="200" th:height="200"/>
            <input id="selectedFile" th:name="file" type="file" onchange="loadFile(event)" style="position:absolute;visibility:hidden;"/>
            <input type="button" id="browseButton" th:value="#{form.input.avatar}" onclick="selectedFile.click()"/>
            <br/>
            <br/>
            <input type="email" id="inputEmail" class="form-control" th:placeholder="#{form.input.email}"  th:field="*{email}" />
            <input type="password" id="inputPassword" th:field="*{password}" class="form-control" th:placeholder="#{form.input.password}"/>
            <input type="password" id="confirmPassword" name="confirmPassword" class="form-control" th:placeholder="#{form.input.confirmPassword}"/>
            <h4 th:align="center" th:text="#{form.input.chooseRole}"></h4>
            <select id="chooseRole" name="role" onChange="setProfession(this)" class="form-control">
                <option th:each="role : ${roles}" th:value="${role.role}" th:text="${role.role}"></option>
            </select>
            <input type="text" id="inputFirstName" th:field="*{firstName}" class="form-control" th:placeholder="#{form.input.firstName}"/>
            <input type="text" id="inputLastName" class="form-control" th:field="*{lastName}" th:placeholder="#{form.input.lastName}"/>
            <input type="text" id="inputPhoneNumber" class="form-control" th:field="*{phoneNumber}" th:placeholder="#{form.input.phoneNumber}"/><br/>
            <h4 id="labelDepartment" th:align="center" th:text="#{form.input.department}"></h4>
            <select id="department" name="departmentName" class="form-control">
                <option th:each="department : ${departments}" th:value="${department.departmentName}" th:text="${department.departmentName}"></option>
            </select>
            </p>
            <input type="submit" th:value="#{form.add}" class="btn btn-lg btn-primary btn-block" style="margin-top: 20px"/>
        </div>

    </form>
    <script type="text/javascript">
        function setProfession(select) {
            if (select.value == "SPECIALIST") {
                document.getElementById("department").style.visibility = 'visible';
                document.getElementById("labelDepartment").style.visibility = 'visible';
            }
            else {
                document.getElementById("department").style.visibility = 'hidden';
                document.getElementById("labelDepartment").style.visibility = 'hidden';
            }
        }
    </script>

    <script>
        var loadFile = function(event) {
            var output = document.getElementById('output');
            output.src = URL.createObjectURL(event.target.files[0]);
        };
    </script>
</div>
</body>
</html>