<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:text="#{title.defectElement}"></title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
<div lang="pl" th:replace="navbar :: navbar"> </div>
<div class="container">
<table th:width="600px">
    <tr>
        <td>
            <h4 th:text="#{table.header.id}"></h4>
        </td>
        <td>
            <span th:text="${defectElement.getId()}"></span>
        </td>
    </tr>
    <tr>
        <td>
            <h4 th:text="#{table.defectElement.name}"></h4>
        </td>
        <td>
            <span th:text="${defectElement.getName()}"></span>
        </td>
    </tr>
</table>
</div>
</body>
</html>