<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:text="#{title.defectElement}"></title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
<div lang="pl" th:replace="navbar :: navbar"> </div>
<div class="container">
    <form action="#" th:action="@{/saveDefectElement/{type}(type=${type})}" method="post">
        <h2 class="form-signin-heading" align="center" th:text="${type} == 'Department' ? #{form.editDepartment.header} : (${type} == 'Status' ? #{form.editStatus.header} : #{form.editPriority.header})"></h2><br/>
        <div class="row text-center" style="width: 300px; margin: 0 auto">
            <input type="hidden" name="defectElementId" th:value="${defectElement.getId()}" />
            <input type="text" name="defectElementName" th:value="${defectElement.getName()}" class="form-control"/> <br/>
            <input type="submit" th:value="#{form.input.submit.save}" class="btn btn-lg btn-primary btn-block" style="width: 200px; margin: 0 auto">
        </div>
    </form>
</div>
</body>
</html>