<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <title th:text="#{title.users}"></title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" type="text/css" href="webjars/bootstrap/3.3.7/css/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="/css/tablePageStyle.css" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.12/css/jquery.dataTables.min.css">
    <script src="https://cdn.datatables.net/1.10.12/js/jquery.dataTables.min.js"></script>
    <script src="datatable.js"></script>
</head>
<body>
<div lang="pl" th:replace="navbar :: navbar"> </div>
<div class="container">
    <table id="usersTable" class="display">
        <thead>
        <tr>
            <th th:text="#{table.header.id}"></th>
            <th th:text="#{table.header.email}"></th>
            <th th:text="#{table.header.department}"></th>
            <th th:text="#{table.header.role}"></th>
            <th th:text="#{table.header.firstName}"></th>
            <th th:text="#{table.header.lastName}"></th>
            <th th:text="#{table.header.phoneNumber}"></th>
        </tr>
        </thead>
    </table>
</div>
</body>
</html>