<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:text="#{title.defect}"></title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link rel="stylesheet" type="text/css" href="/css/style.css" />
    <script src="/js/script.js"></script>
</head>
<body style="background-color: #e9e9e9;">
<div lang="pl" th:replace="navbar :: navbar"> </div>
    <div class="container">
        <h2 th:text="#{title.defect}" align="center"></h2>
        <div class="row">
            <div class="col-xs-6">
                <form th:action="@{/saveDefect}" method="post">
                    <table th:width="500px">
                        <tr>
                            <td>
                                <h4 th:text="#{form.input.defect.id}"></h4>
                            </td>
                            <td>
                                <input type="hidden" name="defectId" th:value="${defect.getFaultId()}" />
                                <span th:text="${defect.getFaultId()}"></span>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <h4 th:text="#{form.input.email}"></h4>
                            </td>
                            <td>
                                <span th:text="${defect.getEmail()}"></span>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <h4 th:text="#{table.header.title }"></h4>
                            </td>
                            <td>
                                <span th:text="${defect.getTitle()}"></span>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <h4 th:text="#{form.input.defect.description}"></h4>
                            </td>
                            <td>
                                <textarea th:text="${defect.getDescription()}" th:disabled="${defect.getStatus().getName()} != 'Do akceptacji' ? 'true' : 'false'" class="form-control" rows="4" cols="50" maxlength="200" style="resize: none"></textarea>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <h4 th:text="#{table.header.department}"></h4>
                            </td>
                            <td>
                                <select id="department" name="departmentName" class="form-control" th:disabled="${defect.getStatus().getName()} eq 'Do akceptacji' ? 'false' : 'true'">
                                    <option th:each="department : ${departments}" th:value="${department.name}" th:text="${department.name}" th:selected="(${department.name} == ${defect.getDepartment().getName()}) ? 'true' : 'false'"></option>
                                </select>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <h4 th:text="#{table.header.status}"></h4>
                            </td>
                            <td>
                                <select id="status" name="statusName" class="form-control">
                                    <option th:each="status : ${statuses}" th:value="${status.name}" th:text="${status.name}" th:selected="(${status.name} == ${defect.getStatus().getName()}) ? 'true' : 'false'"></option>
                                </select>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <h4 th:text="#{table.header.priority}"></h4>
                            </td>
                            <td>
                                <select id="priority" name="priorityName" class="form-control" th:disabled="${defect.getStatus().getName()} eq 'Do akceptacji' ? 'false' : 'true'">
                                    <option th:each="priority : ${priorities}" th:value="${priority.name}" th:text="${priority.name}" th:selected="(${priority.name} == ${defect.getPriority().getName()}) ? 'true' : 'false'"></option>
                                </select>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <h4 th:text="#{table.header.createDate}"></h4>
                            </td>
                            <td>
                                <span th:text="${defect.getCreateDate()}"></span>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <h4 th:text="#{table.assignedEmployee}"></h4>
                            </td>
                            <td>
                                <select id="user" name="userName" class="form-control" th:disabled="${defect.getStatus().getName()} eq 'Do akceptacji' ? 'false' : 'true'">
                                    <option th:each="user : ${users}" th:value="${user.email}" th:text="${user.email}" th:selected="(${user.email} == ${defect.getUser().getEmail()}) ? 'true' : 'false'"></option>
                                </select>
                            </td>
                        </tr>
                        <tr th:if="${defect.getStatus().getName()} eq 'W realizacji' or ${defect.getStatus().getName()} eq 'Zakończony'">
                            <td>
                                <h4 th:text="#{table.header.resolveDescription}"></h4>
                            </td>
                            <td>
                                <textarea th:text="${defect.getResolveDescription()}" th:disabled="${defect.getStatus().getName()} eq 'Zakończony' ? 'true' : 'false'" name="resolveDescription" class="form-control" rows="4" cols="50" maxlength="200" style="resize: none"></textarea>
                            </td>
                        </tr>
                        <tr th:if="${defect.getStatus().getName()} eq 'Zakończony'">
                           <td>
                                <h4 th:text="#{table.header.resolveDate}"></h4>
                            </td>
                            <td>
                                <span th:text="${defect.getResolveDate()}"></span>
                            </td>
                        </tr>
                    </table>
                    <br/>
                    <input type="submit" th:value="#{form.input.submit.save}" class="btn btn-lg btn-primary btn-block" style="width: 200px; margin: 0 auto" th:disabled="${disableSave}">
                </form>
            </div>
            <div class="col-xs-6 text-right">
                <img id="myImg" th:src="@{'data:image/jpg;base64,'+${defect.getEncodedPhoto()}}" width="350" height="350"/>
                <div id="myModal" class="modal">
                    <span class="close">&times;</span>
                    <img class="modal-content" id="img01">
                    <div id="caption"></div>
                </div>
            </div>
        </div>
        <br/>
        <br/>
    </div>
    <div>
        <input type="hidden" id="latitude" th:value="${defect.getLatitude()}"/>
        <input type="hidden" id="longitude" th:value="${defect.getLongitude()}"/>
        <div id="map"></div>
    </div>
    <script>

        function initMap() {
            var userLng = parseFloat($('#longitude').val());
            var userLat = parseFloat($('#latitude').val());

            var map = new google.maps.Map(document.getElementById('map'), {
                zoom: 15,
                center: {lat: userLat, lng: userLng}
            });

            var marker = new google.maps.Marker({
                position: {lat: userLat, lng: userLng},
                map: map
            });
        }
    </script>
    <script async defer
            src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDS2u6J126Ba5r6doryChmqvOhTb85GF6M&callback=initMap">
    </script>

    <script>
        var modal = document.getElementById('myModal');
        var img = document.getElementById('myImg');
        var modalImg = document.getElementById("img01");
        var captionText = document.getElementById("caption");
        img.onclick = function(){
            modal.style.display = "block";
            modalImg.src = this.src;
            captionText.innerHTML = this.alt;
        };

        var span = document.getElementsByClassName("close")[0];

        span.onclick = function() {
            modal.style.display = "none";
        }
    </script>
</body>
</html>