<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Defects</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.12/css/jquery.dataTables.min.css">
    <script src="https://cdn.datatables.net/1.10.12/js/jquery.dataTables.min.js"></script>
    <script src="datatable.js"></script>
</head>
<body>
<div class="container">
<table id="defectsTable" class="display">
    <thead>
    <tr>
        <th>Id</th>
        <th>Email</th>
        <th>Description</th>
        <th>Department</th>
        <th>Status</th>
        <th>Priority</th>
        <th>Create date</th>
    </tr>
    </thead>
</table>
</div>
</body>
</html>