<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.w3.org/1999/xhtml"
      xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <title>User</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/css/homeStyle.css" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
<div lang="pl" th:replace="navbar :: navbar"> </div>
<div class="bg">
    <div id="welcomeBox">
        <div id="message">
            <h1>Defects management system</h1>
            <h2 th:text="#{admin.home}" sec:authorize="hasAuthority('ADMIN')"></h2>
            <h2 th:text="#{departmentAdmin.home}" sec:authorize="hasAuthority('DEPARTMENT_ADMIN')"></h2>
            <h2 th:text="#{user.home}" sec:authorize="hasAuthority('USER')"></h2> <br/>
            <a th:href="@{'/defects'}" class="btn btn-primary btn-lg" role="button"  th:text="#{home.button}"></a>
        </div>
    </div>
</div>
</body>
</html>