<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Sign in</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" type="text/css" href="/bootstrap/css/bootstrap.min.css" />
</head>
<body>
<div class="container">
    <form th:action="@{/login}" method="POST" class="form-signin">
        <h2 class="form-signin-heading" align="center" th:text="#{login.signin}"></h2><br/>
        <input type="text" id="email" name="email" class="form-control" th:placeholder="#{login.email}" />
        <input type="password" id="password" name="password" class="form-control" th:placeholder="#{login.password}"/>
        <input type="submit" class="btn btn-lg btn-primary btn-block" name="Submit" th:value="#{login.login}"/>
        <div align="center" th:if="${param.error}">
            <p style="font-size: 20; color: #FF1C19;" th:name="#{login.error}"></p>
        </div>
    </form>
</div>
</body>
</html>