<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:text="#{title.user}"> </title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" type="text/css" href="/css/style.css" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body style="background-color: #B0C4DE">
<div lang="pl" th:replace="navbar :: navbar"> </div>
<div class="container">
    <div class="userDetailsBox">
    <form action="#" th:action="@{/saveUser}" th:object="${user}" method="post" class="form-user">
        <div lang="pl" th:replace="validation :: validation" > </div>
        <table th:width="600px">
            <tr>
                <td>
                </td>
                <td>
                    <input type="hidden" th:field="${user.avatar}" />
                    <img th:src="@{'data:image/jpg;base64,'+${user.getEncodedAvatar()}}" width="150" height="150" class="img-circle" style="margin-left: 25px"/>
                    <br/>
                    <br/>
                </td>
            </tr>
            <tr>
                <td>
                    <h4 th:text="#{form.input.userId}"></h4>
                </td>
                <td>
                    <input type="hidden" th:field="${user.userId}" />
                    <span th:text="${user.getUserId()}"></span>
                </td>
            </tr>
            <tr>
                <td>
                    <h4 th:text="#{form.input.email}"></h4>
                </td>
                <td>
                    <input type="hidden" th:field="${user.email}" />
                    <span th:text="${user.getEmail()}"></span>
                </td>
            </tr>
            <tr>
                <td>
                    <h4 th:text="#{form.input.password}"></h4>
                </td>
                <td>
                    <input type="hidden" name="password" th:field="${user.password}" />
                    <input name="newPassword" type="password" class="form-control"/>
                </td>
            </tr>
            <tr>
                <td>
                    <h4 th:text="#{form.input.firstName}"></h4>
                </td>
                <td>
                    <input th:value="${user.getFirstName()}" th:field="${user.firstName}" class="form-control"/>
                </td>
            </tr>
            <tr>
                <td>
                    <h4 th:text="#{form.input.lastName}"></h4>
                </td>
                <td>
                    <input th:value="${user.getLastName()}" th:field="${user.lastName}" class="form-control"/>
                </td>
            </tr>
            <tr>
                <td>
                    <h4 th:text="#{form.input.phoneNumber}"></h4>
                </td>
                <td>
                    <input th:value="${user.getPhoneNumber()}" th:field="${user.phoneNumber}" class="form-control"/>
                </td>
            </tr>
        </table>
        <br/>
        <input type="submit" th:value="#{form.input.submit.save}" class="btn btn-lg btn-primary btn-block" />
    </form>
    </div>
</div>
</body>
</html>